@use "mixins" as mx;
@use "variables" as v;

.about {

    &__container {
        position: relative;
        @include mx.flex(column-reverse);
        gap: 1em;
        
        @include mx.media_query(large) {
            @include mx.flex(row);
        }

        &::after {
            content: url('../../assets/images/background/floating_coffee.png');

            position: absolute;
            right: -10%;
            bottom: -20%;
            transform: scale(0.7);
            display: none;

            @include mx.media_query(large) {
                transform: scale(1);
                display: block;
            }
        }
    }

    &__img-section {
        flex: 1;
    }

    &__img-container {
        width: 80%;
        float: right;
    }

    &__info {
        flex: 1;
        @include mx.flex(column , flex-start , flex-start);
        gap: v.$gap-section;
    }

    &__btn {
        background-color: v.$clr-primary;
        color: v.$clr-secondary;
        border: 1px solid v.$clr-primary;
        transition: all 1s ease-in-out;

        &:hover {
            background-color: transparent;
            color: v.$clr-primary;
        }
    }

}