@use 'variables' as v;
@use 'mixins' as mx;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100svw;
    height: 100svh;
    position: relative;
    line-height: 1.17rem;
    font-size: v.$font-size-normal;
    font-family: v.$font-family-normal;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-size: v.$font-size-heading;
    font-family: v.$font-family-heading;
    line-height: 4.53rem;
}

p {
    font-size: v.$font-size-normal;
    font-family: v.$font-family-normal;
    line-height: 1.15rem;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    font-family: v.$font-family-normal
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

input,
button {
    font: inherit;
}