@use "variables" as v;
@use "mixins" as mx;

.main {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.home {
    color: v.$clr-secondary;
    width: 100%;
    height: 42.5em;
    background-image: url('../../assets/images/background/bg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        width: 80%;
        position: absolute;
        top: 9.8rem;
        left: 1.3em;
        @include mx.flex(column , flex-start , flex-start);
        gap: 1.56em;
        
        @include mx.media_query("medium") {
            width: 60%;
            left: 3.75rem;
        }

        @include mx.media_query("xlarge") {
            width: 29%;
            left: 3.75rem;
        }
        
    }

    &__btn {
        background-color: v.$clr-secondary;
        color: v.$clr-primary;
    }
}
