@use "variables" as v;
@use "mixins" as mx;

.header {

    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;

    &__section {
        width: 100%;
        padding: 0.8em 3.75em;
        margin-inline: auto;
        @include mx.flex(row, center, space-between);
    }

    &__logo-section {
        @include mx.flex(row , center , space-between);
        width: 100%;

        img {
            display: block;
            width: 40px;
            cursor: pointer;
        }

        @include mx.media_query(large) {

            width: auto;

            img {
                display: none;
            }
        }
    }

    &__logo {
        color: v.$clr-secondary;
    }
}

.nav {
    width: 70%;

    &__ul {
        @include mx.flex(row);
        gap: 2.5em;
        
        li {
            position: relative;
            color: v.$clr-secondary;
            padding: 0.875em 0;
            font-size: v.$font-size-list;
            font-weight: 500;
            text-transform: capitalize;
            overflow-x: hidden;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                margin-inline: auto;
                border: 1px solid v.$clr-secondary;
                transform: translateX(-100%);
                transition: all 0.4s ease-in-out;
            }

            &:hover {
                &::after {
                    transform: translateX(0%);
                }
            }
        }
    }

    display: none;

    @include mx.media_query(large) {
        display: block;
    }
}