@use "variables" as v;
@use "mixins" as mx;

.text-heading-clr {
    color: v.$clr-primary;
}

.btn {
    padding: v.$btn-padding;
    border-radius: v.$btn-border-radius;
    font-size: v.$font-size-btn;
    font-family: v.$font-family-normal;
    font-weight: v.$btn-font-weight;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

// also use for logo
.card-title {
    font-size: v.$font-size-card-heading-sm;
    line-height: 1.75rem;
    font-family: v.$font-family-heading;
    font-weight: 400;
    transition: all 0.4s ease-in-out;

    @include mx.media_query(medium) {
        font-size: v.$font-size-card-heading-md;
        line-height: 2rem;
    }

    @include mx.media_query(large) {
        font-size: v.$font-size-card-heading;
        line-height: 2.72rem;
    }
}

.line {
    width: 90%;
    margin-inline: auto;
    border: 1px solid #2B2A2A;
}

.section {
    margin-top: v.$margin-top-section;
    width: 100%;
}

.section-container {
    width: 90%;
    margin-inline: auto;
    
    @include mx.media_query(large) {
        width: 80%;
    }
}

.close-btn {
    background-color: transparent;
    border: none;
    color: v.$clr-secondary;
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 2rem;
}