/* || FONTS Import*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans&display=swap');

// font-family: 'Kaushan Script', cursive;
// font-family: 'Work Sans', sans-serif;

/* || COLORS */

$clr-primary: #624E4E;
$clr-secondary: #ffffff;
$clr-footer: #000000;

/* || FONT SIZES */
$font-size-normal: 1rem;
$font-size-btn: 0.9375rem;
$font-size-card-heading: 1.875rem;
$font-size-heading:3.125rem; 

/* || FONT FAMILY */
$font-family-heading: 'Kaushan Script', cursive;
$font-family-normal: 'Work Sans', sans-serif;

/* || GENERAL */
